.directions-form {
  &__title {
    color: $contrast-bc;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  .inputs-wrap {
    display: flex;
  }

  .select {
    width: 50%;
  }
}

.radiobtns-wrap {
  margin-bottom: 15px;
  display: flex;
  font-size: 14px;
}

.select,
.select *,
.select > div * {
  cursor: pointer;
}
